@charset "utf-8";

/* min-width : 768 */
@media all and (min-width: 768px) and (max-width : 1023px) {

    /* #section-0 */
    #section-0 h1 {
        font-size: 8.5vw;
        letter-spacing: 1vw;
    }

    .main-text {
        font-size: 10vw;
    }

    #section-0 .a {
        width: 100%;
        top: 53vh;
        text-align: right;

    }

    #section-0 .a p {
        font-size: 11vw;
    }

    #section-0 .d {
        padding: 0 5vw;
        font-size: 6vw;
        top: 50vh;
    }

    /* #section-1 */
    .title-text {
        font-size: 6vw;
    }

    #section-1 .sticky-elem.b {
        top: 53vw;
        font-size: 5vw;
    }

    #section-1 .sticky-elem.c {
        top: 75vw;
    }

    #section-1 .button {
        width: 45vw;
        font-size: 3vw;
    }

    /* #section - 2 */

    #section-2 .title-text .sub-title {
        font-size: 3vw;
        margin-top: 5vh;
    }

    #section-2 .main-img {
        display: inline-block;
        width: 25vw;
    }

    #section-2 .lavender-left {
        width: 25vw;
        height: 25vw;
        left: 16vw;
    }

    #section-2 .lavender-left .circle {
        width: 20vw;
        height: 20vw;
        top: 3vw;
        left: 2vw;
    }

    #section-2 .sweet-right {
        width: 25vw;
        height: 25vw;
        top: 7vw;
        right: 20vw;
    }

    #section-2 .sweet-right img {
        top: 1vw;
        left: 1vw;
    }

    #section-2 .sweet-right .circle {
        width: 20vw;
        height: 20vw;
        top: 3vh;
        left: 3vw;
    }

    #section-2 .left-text {
        top: 30vw;
        left: 4vw;
    }

    #section-2 .left-text p {
        left: 2vw;
    }

    #section-2 .left-text span.horizon {
        position: absolute;
        top: -8vw;
        right: -9.2vw;
    }

    #section-2 .left-text span.vertical {
        left: 19vw;
        top: -8vw;
    }

    #section-2 .right-text {
        bottom: 8vw;
        right: 5vw;
    }

    #section-2 .right-text span.horizon {
        position: absolute;
        top: -7.5vw;
        left: -4.4vw;
    }

    #section-2 .right-text span.vertical {
        top: -7.5vw;
    }

    #section-2 .bottom-content-text {
        font-size: 1.5vw;
    }

    #section-3 .text-container h2 {
        font-size: 7vw;
    }

    #section-3 .text-container h2 span {
        font-size: 4vw;
    }

    /* section-4 */
    #section-4 {
        justify-content: center
    }

    #section-4 .title-text {
        font-size: 5vw;
    }

    #section-4 .products-container {
        width: 100%;
    }

    #section-4 .products-container .products {
        max-width: 80vw;
    }

    #section-4 .products-container .products div {
        width: 25%;
    }

    #section-4 .products-container .products div p {
        font-size: 1.5vw;
        margin-top: 1vh;
    }

    #section-4 .products-container .products div img {
        width: 70%;
    }

    .buy-button {
        width: 90%;
        font-size: 1vw;
    }

    /* #section-5 */
    #section-5 {
        height: 100vh;
        margin-bottom: 10vh;
    }

    #section-5 .imgs-container {
        position: relative;
        display: flex;
        justify-content: center;
        height: 100%;
    }

    #section-5 .imgs-container .imgs-wrap {
        position: absolute;
        display: block;
        width: 80vw;
        height: 100%;
    }

    #section-5 .img-1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 44%;
        height: 47%;
    }

    #section-5 .img-2 {
        position: absolute;
        top: 19%;
        right: 0;
        width: 55%;
        height: 58%;
    }

    #section-5 .img-3 {
        position: absolute;
        top: 47.5%;
        left: 5.5vw;
        width: 37%;
        height: 40%;
    }
}

/* min-width : 1024 */
@media all and (min-width : 1024px) {

    /* nav */
    #bottom-nav .logo img {
        width: 200px;
    }

    /* #section-0 */
    #section-0 h1 {
        font-size: 75px;
    }

    .main-text {
        font-size: 65px;
    }

    #section-0 .a {
        width: 100%;
        top: 53vh;
        text-align: right;

    }

    #section-0 .a p {
        font-size: 65px;
    }

    #section-0 .d {
        padding: 0 5vw;
        font-size: 55px;
        top: 50vh;
    }

    /* #section-1 */
    .title-text {
        font-size: 45px;
    }

    #section-1 .sticky-elem.b {
        top: 45vh;
        font-size: 35px;
    }

    #section-1 .sticky-elem.b span {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        display: block;
        width: 70%;
    }

    #section-1 .sticky-elem.c {
        top: 60vh;
    }

    #section-1 .button {
        width: 35vw;
        max-width: 500px;
        font-size: 18px;
    }

    /* #section - 2 */
    #section-2 .title-text {
        font-size: 43px;
    }

    #section-2 .title-text .sub-title {
        font-size: 24px;
    }

    #section-2 .main-img-container {
        max-width: 920px;
        left: 50%;
        transform: translateX(-50%);

    }

    #section-2 .main-img {
        display: inline-block;
        width: 170px;
        margin-top: 5vh;
    }

    #section-2 .lavender-left {
        width: 170px;
        height: 170px;
        left: 270px;
    }

    #section-2 .lavender-left .circle {
        width: 170px;
        height: 170px;
        top: 1vw;
        left: 0vw;
    }

    #section-2 .sweet-right {
        width: 200px;
        height: 200px;
        top: 50px;
        right: 270px;
    }

    #section-2 .sweet-right img {
        top: 1vw;
        left: 1vw;
    }

    #section-2 .sweet-right .circle {
        width: 170px;
        height: 170px;
        top: 2vw;
        left: 3vw;
    }

    #section-2 .sub-text p {
        width: 250px;
        font-size: 13px;
    }

    #section-2 .left-text {
        top: 200px;
        left: 110px;
    }

    #section-2 .left-text span.horizon {
        position: absolute;
        top: -70px;
        right: -57px;
    }

    #section-2 .left-text span.vertical {
        left: 113px;
        top: -70.5px;
    }

    #section-2 .right-text {
        bottom: 40px;
        right: 106px;
    }

    #section-2 .right-text span.horizon {
        position: absolute;
        top: -62px;
        left: -42px;
    }

    #section-2 .right-text span.vertical {
        top: -62px;
        right: 97px;

    }

    #section-2 .bottom-content-text {
        font-size: 18px;
    }

    #section-2 .bottom-content-text span {
        position: relative;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        max-width: 1300px;

    }

    /* section -3 */
    #section-3 .text-container {
        position: absolute;
        right: 1vw;
        width: 50vw;

    }

    #section-3 .text-container h2 {
        font-size: 40px;
    }

    #section-3 .text-container h2 span {
        font-size: 24px;
    }

    /* section-4 */

    #section-4 .title-text {
        font-size: 45px;
    }

    #section-4 .title-text span {
        max-width: 1200px;
    }

    #section-4 .products-container {
        width: 85vw;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    #section-4 .products-container .products {
        max-width: 1024px;
    }

    #section-4 .products-container .products div {
        width: 25%;
        margin-top: 5vh;
    }

    #section-4 .products-container .products div p {
        font-size: 1.5vw;
        margin-top: 1vh;
    }

    #section-4 .products-container .products div img {
        width: 70%;
    }


}

/* @media all and (min-width : 1920) {} */