@charset "utf-8";

/* min-width : 768 */
@media all and (min-width: 768px) and (max-width : 1023px) {

    /* #section-0 */
    #section-0 h1 {
        font-size: 8.5vw;
        letter-spacing: 1vw;
    }

    .main-text {
        font-size: 10vw;
    }

    #section-0 .a {
        width: 100%;
        top: 53vh;
        text-align: right;

    }

    #section-0 .a p {
        font-size: 11vw;
    }

    #section-0 .d {
        padding: 0 5vw;
        font-size: 6vw;
        top: 50vh;
    }

    /* #section-1 */
    .title-text {
        font-size: 6vw;
    }

    #section-1 .sticky-elem.b {
        top: 40%;
        padding: 0 5vw;
        font-size: 5vw;
    }

    #section-1 .sticky-elem.c {
        top: 50%;
    }

    #section-1 .button {
        width: 45vw;
        font-size: 3vw;
    }

    /* #section - 2 */

    #section-2 .title-text .sub-title {
        font-size: 3vw;
        margin-top: 5vh;
    }

    #section-2 .main-img {
        display: inline-block;
        width: 25vw;
    }

    #section-2 .lavender-left {
        width: 25vw;
        height: 25vw;
        left: 16vw;
    }

    #section-2 .lavender-left .circle {
        width: 20vw;
        height: 20vw;
        top: 3vw;
        left: 2vw;
    }

    #section-2 .sweet-right {
        width: 25vw;
        height: 25vw;
        top: 7vw;
        right: 20vw;
    }

    #section-2 .sweet-right img {
        top: 1vw;
        left: 1vw;
    }

    #section-2 .sweet-right .circle {
        width: 20vw;
        height: 20vw;
        top: 3vh;
        left: 3vw;
    }

    #section-2 .left-text {
        top: 30vw;
        left: 4vw;
    }

    #section-2 .left-text p {
        left: 2vw;
    }

    #section-2 .left-text span.horizon {
        position: absolute;
        top: -8vw;
        right: -9.2vw;
    }

    #section-2 .left-text span.vertical {
        left: 19vw;
        top: -8vw;
    }

    #section-2 .right-text {
        bottom: 8vw;
        right: 5vw;
    }

    #section-2 .right-text span.horizon {
        position: absolute;
        top: -7.5vw;
        left: -4.4vw;
    }

    #section-2 .right-text span.vertical {
        top: -7.5vw;
    }

    #section-2 .bottom-content-text {
        font-size: 1.5vw;
    }

    #section-3 .text-container h2 {
        font-size: 7vw;
    }

    #section-3 .text-container h2 span {
        font-size: 4vw;
    }

    /* section-4 */
    #section-4 {
        justify-content: center;
    }

    #section-4 .title-text {
        font-size: 5vw;
        margin-top: 10vh;
        margin-bottom: 5vh;
    }

    #section-4 .title-text span {
        /* padding-top: 10vh; */
        margin: 0 auto;
    }

    #section-4 .products-container {
        width: 100%;
        margin-bottom: 10vh;
    }

    #section-4 .products-container .products {
        max-width: 90vw;
        justify-content: center;
    }

    #section-4 .products-container .products div {
        width: 40%;
        padding-top: 3vh;
    }

    #section-4 .products-container .products div p {
        font-size: 2vw;
        margin-top: 1vh;
    }

    #section-4 .products-container .products div img {
        width: 55%;
    }

    .buy-button {
        width: 80%;
        padding: 5% 10%;
        font-size: 14px;
    }

    /* #section-5 */
    #section-5 {
        height: 100vh;
        padding-bottom: 10vh;
    }

    #section-5 .imgs-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: start;
        height: 100%;
    }

    #section-5 .imgs-container .imgs-wrap {
        position: absolute;
        display: block;
        width: 80vw;
        height: 100%;
    }

    #section-5 .img-1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 44%;
        height: 47%;
    }

    #section-5 .img-2 {
        position: absolute;
        top: 19%;
        right: 0;
        width: 55%;
        height: 58%;
    }

    #section-5 .img-3 {
        position: absolute;
        top: 47.5%;
        left: 5.5vw;
        width: 37%;
        height: 40%;
    }

    /* section -6 */
    #section-6 .sticky-elem.text_d {
        top: 45vh;
        font-size: 8vw;
    }

    /* section-7 */
    #section-7 .con-container {
        height: 120vh;
    }

    #section-7 .svg-container svg {
        position: absolute;
        height: 100%;
        width: 100vw;
    }

    #section-7 .svg-container svg path {
        width: 100%;
        height: 100%;
    }

    #section-7 h2 {
        width: 80vw;
        margin: 8vh auto 0;
    }

    #section-7 h2 span {
        width: 60%;
        font-size: 2vw;
    }

    #section-7 .img1 {
        left: 23%;
        width: 28%;
    }

    #section-7 .img2 {
        top: 24%;
        left: 54%;
        width: 32%;
    }

    #section-7 .img3 {
        top: 48%;
        left: 13.5%;
        width: 38%;

    }

    #section-7 .text-container.text1 {
        bottom: -20%;
        right: 0;
        width: 80%;
        text-align: center;
    }

    #section-7 .text-container.text2 {
        bottom: -20%;
        width: 80%;
        text-align: center;
    }

    #section-7 .text-container.text3 {
        top: 87%;
        text-align: center;

    }

    /* section-9 */
    #section-9 .content-container .imgs-wrap .circle-img {
        width: 60%;
    }

    #section-9 .content-container .imgs-wrap .pet-img {
        width: 65%;
    }

    /* footer */
    .hide {
        display: block;
    }

    .footer-container {
        padding: 3vh 0 3vh;
    }

    footer .left-footer .first-depth {
        display: flex;
        justify-content: space-between;
    }

    footer .left-footer .first-depth>li:not(:last-child) {
        margin-right: 2vw;
    }

    footer .left-footer .first-depth>li:first-child {
        margin-right: 7vw;
    }

    footer .left-footer .first-depth p {
        margin-bottom: 1vh;
    }

    .second-depth li {
        padding-bottom: 3px;
    }

    .fotter-larg-text {
        font-size: 2.5vw;
    }

    .point-txt {
        font-size: 5vw;
        color: #112B23;
    }

    .tell {
        font-size: 3vw;
    }

    .info {
        padding-top: 3vh;
        /* padding-bottom: 5vh; */
    }

}

/* min-width : 1024 */
@media all and (min-width : 1024px) {
    html {
        max-width: 1440px;
    }

    /* nav */
    nav ul {
        max-width: 1440px;
    }

    #bottom-nav .logo img {
        width: 200px;
    }

    /* #section-0 */
    #section-0 h1 {
        font-size: 8vw;
        letter-spacing: 1vw;
    }

    .main-text {
        font-size: 5vw
    }

    #section-0 .a {
        width: 100%;
        top: 53vh;
        text-align: right;
    }

    #section-0 .a p {
        font-size: 6vw;
    }

    #section-0 .d {
        padding: 0 5vw;
        font-size: 4vw;
        top: 50vh;
    }

    /* #section-1 */

    .title-text {
        font-size: 3vw;
    }

    #section-1 .sticky-elem.a {
        top: 38%
    }

    #section-1 .sticky-elem.b {
        top: 50%;
        font-size: 2.5vw;
    }

    #section-1 .sticky-elem.b span {
        position: relative;
        display: block;
        padding: 0 10vw;
    }

    #section-1 .sticky-elem.c {
        top: 56%;
    }

    #section-1 .button {
        width: 45vw;
        padding: 1.5vw 10vw;
        font-size: 1.5vw;
    }

    /* #section - 2 */
    #section-2 .title-text {
        font-size: 2.5vw;
        margin-top: 3vh;
    }

    #section-2 .title-text .sub-title {
        font-size: 1.5vw;
    }

    #section-2 .main-img-container {
        max-width: 920px;
        margin: 0 auto;
    }

    #section-2 .main-img {
        display: inline-block;
        width: 11vw;
        max-width: 170px;
        margin-top: 5vh;
    }

    #section-2 .lavender-left {
        width: 10vw;
        height: 10vw;
        max-width: 170px;
        max-height: 170px;
        top: 240px;
        left: 30%;
    }

    #section-2 .lavender-left .circle {
        width: 10vw;
        height: 10vw;
        max-width: 170px;
        max-height: 170px;
        top: 1vw;
        left: 0vw;
    }

    #section-2 .sweet-right {
        width: 13vw;
        height: 13vw;
        max-width: 200px;
        max-height: 200px;
        top: 50px;
        right: 31%;
    }

    #section-2 .sweet-right img {
        top: 1vw;
        left: 1vw;
    }

    #section-2 .sweet-right .circle {
        width: 10vw;
        height: 10vw;
        max-width: 170px;
        max-height: 170px;
        top: 2vw;
        left: 2.5vw;
    }

    #section-2 .sub-text p {
        max-width: 250px;
        font-size: 1vw;
    }

    #section-2 .left-text {
        top: 170px;
        left: 121px;
    }

    #section-2 .left-text span.horizon {
        position: absolute;
        top: -55px;
        right: -59px;
    }

    #section-2 .left-text span.vertical {
        left: 113px;
        top: -54px;
    }

    #section-2 .right-text {
        bottom: 17px;
        right: 118px;
    }

    #section-2 .right-text span.horizon {
        position: absolute;
        top: -62px;
        left: -42px;
    }

    #section-2 .right-text span.vertical {
        top: -62px;
        right: 97px;

    }

    #section-2 .bottom-content-text {
        font-size: 1vw;
    }

    #section-2 .bottom-content-text span {
        position: relative;
        display: block;
        margin: 0 auto;
        max-width: 1300px;

    }

    /* section -3 */
    #section-3 .text-container {
        position: absolute;
        right: 1vw;
        width: 50vw;

    }

    #section-3 .text-container h2 {
        font-size: 3.5vw
    }

    #section-3 .text-container h2 span {
        font-size: 1.5vw;
    }

    /* section-4 */

    #section-4 .title-text {
        font-size: 3vw;
    }

    #section-4 .title-text span {
        max-width: 1200px;
    }

    #section-4 .products-container {
        width: 85vw;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    #section-4 .products-container .products {
        max-width: 90vw;
        flex-wrap: nowrap;
    }

    #section-4 .products-container .products div {
        width: 35%;
        margin: 5vh 0 0;
    }

    #section-4 .products-container .products div p {
        font-size: 1.8vw;
        margin-top: 1vh;
    }

    #section-4 .products-container .products div img {
        width: 70%;
    }

    .buy-button {
        width: 100%;
        font-size: 1.5vw
    }

    /* #section-5 */
    #section-5 .imgs-container {
        position: relative;
        display: flex;
        justify-content: center;
        height: 150vh;
        margin: 10vh 0;
    }

    #section-5 .imgs-container .imgs-wrap {
        position: absolute;
        display: block;
        width: 80vw;
        height: 100%;
    }

    #section-5 .img-1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 44%;
        height: 52%;
    }

    #section-5 .img-2 {
        position: absolute;
        top: 19%;
        right: 0;
        width: 55%;
        height: 65%;
    }

    #section-5 .img-3 {
        position: absolute;
        top: 53%;
        left: 5.5vw;
        width: 37%;
        height: 45%;
    }

    /* section-6 */
    #section-6 .sticky-elem.text_d {
        font-size: 5vw;
    }

    /* section-7 */
    #section-7 {
        display: flex;
        justify-content: center;
    }

    #section-7 .con-container {
        position: absolute;
        /* height: 224vh; */
        height: 190vh;
        width: 100vw;
        max-width: 1440px;
    }

    #section-7 .svg-container {
        position: absolute;
        width: 100vw;
        height: 123%;
        max-width: 1440px;
    }

    #section-7 .svg-container svg {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;

    }

    #section-7 .svg-container svg path {
        position: absolute;
        width: 90%;
    }

    #section-7 h2 {
        width: 80vw;
        margin: 15vh auto 0;
        font-size: 6vw;
    }

    #section-7 h2 span {
        width: 60%;
        font-size: 1.5vw;
        margin-top: 3vh;
    }

    #section-7 .img_dolpin_tool {
        top: -58px;
        right: 0%;
        width: 60vw;
        max-width: 800px;
        z-index: -1;
    }

    #section-7 .imgs-contaniner {
        height: 100%;
    }

    #section-7 .img1 {
        top: 6%;
        left: 20%;
        width: 28%;
    }

    #section-7 .img2 {
        top: 25%;
        left: 52%;
        width: 30%;
    }

    #section-7 .img3 {
        top: 45%;
        left: 15%;
        width: 34%;
    }

    #section-7 .text-container.text1 {
        bottom: -15%;
        right: 0;
    }

    #section-7 .text-container.text2 {
        bottom: -15%;
    }

    #section-7 .text-container.text3 {
        width: 35vw;
        max-width: 400px;
        top: 78%;
        left: 60%;
    }

    /* section-9 */
    #section-9 .svg-container svg {
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        height: 100%;
    }

    #section-9 .content-container .content-wrap {
        top: 15%;
        flex-direction: column;
        align-items: center;
    }

    #section-9 .content-container .content-wrap h2 {
        font-size: 6vw;
    }

    #section-9 .content-container .content-wrap p {
        width: 55%;
    }

    #section-9 .content-container .imgs-wrap {
        margin-top: 10vh;
    }

    #section-9 .content-container .imgs-wrap .circle-img {
        width: 25%;
    }

    #section-9 .content-container .imgs-wrap .pet-img {
        width: 25%;
    }

    /* footer */
    .hide {
        display: block;
    }

    .footer-container {
        display: flex;
        max-width: 1440px;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-top: 10vh;
    }

    footer .right-footer {
        border-top: none;
        width: 25%;
    }

    footer .left-footer {
        width: 75%;
        padding: 0 0 0 7vw;
        border-left: 1px solid rgb(146, 146, 146);
    }

    footer .first-depth {
        display: flex;
    }

    footer .first-depth>li {
        width: 18%;
    }

    footer .second-depth li {
        margin-bottom: 5px;
    }

    footer .first-depth>li:first-child {
        width: 25%;
        margin-right: 20px;
    }

    footer .right-footer img {
        width: 80%;
    }

    .fotter-larg-text {
        font-size: 21px;
        margin-bottom: 13px;
    }

    .point-txt {
        font-size: 24px;
    }

    .info {
        margin-top: 7vh;
    }

    .info p {
        padding: 2px 0;
    }

    .tell {
        font-size: 27px;
        margin-bottom: 10px;
        font-weight: 600;
    }

    footer a:hover {
        text-decoration: underline;

    }
}

@media all and (min-width : 1920px) {
    #section-2 .sub-text p {
        max-width: 250px;
        font-size: 14px;
    }

    #section-2 .left-text {
        top: 162px;
        left: 119px
    }

    #section-2 .right-text {
        bottom: 17px;
        right: 93px;
    }

    #section-2 .lavender-left {
        top: 280px;
        left: 260px;
    }

    #section-2 .sweet-right {
        top: 50px;
        right: 276px;
    }

    #section-2 .sweet-right .circle {
        left: 2vw
    }

    #section-2 .concept-text-container {
        font-size: 20px;
    }

    #section-2 .bottom-content-text {
        font-size: 16px;
    }

    /*section-4 */
    #section-4 .products-container {
        max-width: 1300px;
    }

    .buy-button {
        font-size: 14px
    }

    /* #section-5 */
    #section-5 {
        padding-bottom: 20vh;
    }

    #section-5 .imgs-container {
        max-width: 1440px;
        height: 160vh;
        margin: 0 auto;
    }

    #section-5 .imgs-container .imgs-wrap {
        width: 100%;
    }

    /* section-7 */
    #section-7 h2 {
        width: 80vw;
        margin: 15vh auto 0;
        font-size: 5vw;
    }

    #section-7 .img1 {
        top: 8%;
        left: 19%;
        width: 30%;
        max-width: 388px;
    }

    #section-7 .img2 {
        top: 25%;
        left: 53%;
        width: 33%;
        max-width: 427px;
    }

    #section-7 .img3 {
        top: 44%;
        left: 11%;
        width: 38%;
        max-width: 495px;
    }

    #section-7 .text-container.text1 {
        bottom: -18%;
        right: 0;
    }

    #section-7 .text-container.text2 {
        bottom: -18%;
    }

    #section-7 .text-container.text3 {
        top: 80%;
        left: 57%;
    }

    /* #section-9 */
    #section-9 .con-container {
        min-width: 1440px;
    }

}