@charset "utf-8";

/* min-width : 768 */
@media all and (min-width: 768px) and (max-width : 1023px) {

    /* #section-0 */
    #section-0 h1 {
        font-size: 8.5vw;
        letter-spacing: 1vw;
    }

    .main-text {
        font-size: 10vw;
    }

    #section-0 .a {
        width: 100%;
        top: 53vh;
        text-align: right;

    }

    #section-0 .a p {
        font-size: 11vw;
    }

    #section-0 .d {
        padding: 0 5vw;
        font-size: 6vw;
        top: 50vh;
    }

    /* #section-1 */
    .title-text {
        font-size: 6vw;
    }

    #section-1 .sticky-elem.b {
        top: 40%;
        padding: 0 5vw;
        font-size: 5vw;
    }

    #section-1 .sticky-elem.c {
        top: 50%;
    }

    #section-1 .button {
        width: 45vw;
        font-size: 3vw;
    }

    /* #section - 2 */

    #section-2 .title-text .sub-title {
        font-size: 3vw;
        margin-top: 5vh;
    }

    #section-2 .main-img {
        display: inline-block;
        width: 25vw;
    }

    #section-2 .lavender-left {
        width: 25vw;
        height: 25vw;
        left: 16vw;
    }

    #section-2 .lavender-left .circle {
        width: 20vw;
        height: 20vw;
        top: 3vw;
        left: 2vw;
    }

    #section-2 .sweet-right {
        width: 25vw;
        height: 25vw;
        top: 7vw;
        right: 20vw;
    }

    #section-2 .sweet-right img {
        top: 1vw;
        left: 1vw;
    }

    #section-2 .sweet-right .circle {
        width: 20vw;
        height: 20vw;
        top: 3vh;
        left: 3vw;
    }

    #section-2 .left-text {
        top: 30vw;
        left: 4vw;
    }

    #section-2 .left-text p {
        left: 2vw;
    }

    #section-2 .left-text span.horizon {
        position: absolute;
        top: -8vw;
        right: -9.2vw;
    }

    #section-2 .left-text span.vertical {
        left: 19vw;
        top: -8vw;
    }

    #section-2 .right-text {
        bottom: 8vw;
        right: 5vw;
    }

    #section-2 .right-text span.horizon {
        position: absolute;
        top: -7.5vw;
        left: -4.4vw;
    }

    #section-2 .right-text span.vertical {
        top: -7.5vw;
    }

    #section-2 .bottom-content-text {
        font-size: 1.5vw;
    }

    #section-3 .text-container h2 {
        font-size: 7vw;
    }

    #section-3 .text-container h2 span {
        font-size: 4vw;
    }

    /* section-4 */
    #section-4 {
        justify-content: center
    }

    #section-4 .title-text {
        font-size: 5vw;
    }

    #section-4 .products-container {
        width: 100%;
    }

    #section-4 .products-container .products {
        max-width: 80vw;
    }

    #section-4 .products-container .products div {
        width: 25%;
    }

    #section-4 .products-container .products div p {
        font-size: 1.5vw;
        margin-top: 1vh;
    }

    #section-4 .products-container .products div img {
        width: 70%;
    }

    .buy-button {
        width: 100%;
        font-size: 10px;
    }

    /* #section-5 */
    #section-5 {
        height: 100vh;
        padding-bottom: 10vh;
    }

    #section-5 .imgs-container {
        position: relative;
        display: flex;
        justify-content: center;
        height: 100%;
    }

    #section-5 .imgs-container .imgs-wrap {
        position: absolute;
        display: block;
        width: 80vw;
        height: 100%;
    }

    #section-5 .img-1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 44%;
        height: 47%;
    }

    #section-5 .img-2 {
        position: absolute;
        top: 19%;
        right: 0;
        width: 55%;
        height: 58%;
    }

    #section-5 .img-3 {
        position: absolute;
        top: 47.5%;
        left: 5.5vw;
        width: 37%;
        height: 40%;
    }

    /* section -6 */
    #section-6 .sticky-elem.text_d {
        top: 45vh;
        font-size: 8vw;
    }

    /* section-7 */
    #section-7 .con-container {
        height: 120vh;
    }

    #section-7 .svg-container svg {
        position: absolute;
        height: 100%;
        width: 100vw;
    }

    #section-7 .svg-container svg path {
        width: 100%;
        height: 100%;
    }

    #section-7 h2 {
        width: 80vw;
        margin: 8vh auto 0;
    }

    #section-7 h2 span {
        width: 60%;
        font-size: 2vw;
    }

    #section-7 .img1 {
        left: 23%;
        width: 28%;
    }

    #section-7 .img2 {
        top: 24%;
        left: 54%;
        width: 32%;
    }

    #section-7 .img3 {
        top: 48%;
        left: 13.5%;
        width: 38%;

    }

    #section-7 .text-container.text1 {
        bottom: -20%;
        right: 0;
        width: 80%;
        text-align: center;
    }

    #section-7 .text-container.text2 {
        bottom: -20%;
        width: 80%;
        text-align: center;
    }

    #section-7 .text-container.text3 {
        top: 87%;
        text-align: center;

    }

}

/* min-width : 1024 */
@media all and (min-width : 1024px) {
    html {
        max-width: 1440px;
    }

    /* nav */
    #bottom-nav .logo img {
        width: 200px;
    }

    /* #section-0 */
    #section-0 h1 {
        font-size: 75px;
    }

    .main-text {
        font-size: 65px;
    }

    #section-0 .a {
        width: 100%;
        top: 53vh;
        text-align: right;

    }

    #section-0 .a p {
        font-size: 65px;
    }

    #section-0 .d {
        padding: 0 5vw;
        font-size: 55px;
        top: 50vh;
    }

    /* #section-1 */
    .title-text {
        font-size: 45px;
    }

    #section-1 .sticky-elem.b {
        top: 40%;
        font-size: 35px;
    }

    #section-1 .sticky-elem.b span {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        display: block;
        width: 70%;
    }

    #section-1 .sticky-elem.c {
        top: 45%;
    }

    #section-1 .button {
        width: 35vw;
        max-width: 500px;
        font-size: 18px;
    }

    /* #section - 2 */
    #section-2 .title-text {
        font-size: 43px;
    }

    #section-2 .title-text .sub-title {
        font-size: 24px;
    }

    #section-2 .main-img-container {
        max-width: 920px;
        left: 50%;
        transform: translateX(-50%);

    }

    #section-2 .main-img {
        display: inline-block;
        width: 170px;
        margin-top: 5vh;
    }

    #section-2 .lavender-left {
        width: 170px;
        height: 170px;
        left: 270px;
    }

    #section-2 .lavender-left .circle {
        width: 170px;
        height: 170px;
        top: 1vw;
        left: 0vw;
    }

    #section-2 .sweet-right {
        width: 200px;
        height: 200px;
        top: 50px;
        right: 270px;
    }

    #section-2 .sweet-right img {
        top: 1vw;
        left: 1vw;
    }

    #section-2 .sweet-right .circle {
        width: 170px;
        height: 170px;
        top: 2vw;
        left: 3vw;
    }

    #section-2 .sub-text p {
        width: 250px;
        font-size: 13px;
    }

    #section-2 .left-text {
        top: 200px;
        left: 110px;
    }

    #section-2 .left-text span.horizon {
        position: absolute;
        top: -70px;
        right: -57px;
    }

    #section-2 .left-text span.vertical {
        left: 113px;
        top: -70.5px;
    }

    #section-2 .right-text {
        bottom: 40px;
        right: 106px;
    }

    #section-2 .right-text span.horizon {
        position: absolute;
        top: -62px;
        left: -42px;
    }

    #section-2 .right-text span.vertical {
        top: -62px;
        right: 97px;

    }

    #section-2 .bottom-content-text {
        font-size: 18px;
    }

    #section-2 .bottom-content-text span {
        position: relative;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        max-width: 1300px;

    }

    /* section -3 */
    #section-3 .text-container {
        position: absolute;
        right: 1vw;
        width: 50vw;

    }

    #section-3 .text-container h2 {
        font-size: 40px;
    }

    #section-3 .text-container h2 span {
        font-size: 24px;
    }

    /* section-4 */

    #section-4 .title-text {
        font-size: 45px;
    }

    #section-4 .title-text span {
        max-width: 1200px;
    }

    #section-4 .products-container {
        width: 85vw;
        padding-top: 10vh;
        padding-bottom: 10vh;
        /* margin-top: 10vh;
        margin-bottom: 10vh; */
    }

    #section-4 .products-container .products {
        max-width: 90vw;
    }

    #section-4 .products-container .products div {
        width: 25%;
        margin-top: 5vh;
    }

    #section-4 .products-container .products div p {
        font-size: 1.5vw;
        margin-top: 1vh;
    }

    #section-4 .products-container .products div img {
        width: 70%;
    }

    .buy-button {
        width: 100%;
        font-size: 1.5vw
    }

    /* #section-5 */
    #section-5 {
        height: 120vh;
        margin-bottom: 10vh;
    }

    #section-5 .imgs-container {
        position: relative;
        display: flex;
        justify-content: center;
        height: 100%;
    }

    #section-5 .imgs-container .imgs-wrap {
        position: absolute;
        display: block;
        width: 80vw;
        height: 100%;
    }

    #section-5 .img-1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 44%;
        height: 52%;
    }

    #section-5 .img-2 {
        position: absolute;
        top: 19%;
        right: 0;
        width: 55%;
        height: 65%;
    }

    #section-5 .img-3 {
        position: absolute;
        top: 53%;
        left: 5.5vw;
        width: 37%;
        height: 45%;
    }

    /* section-6 */
    #section-6 .sticky-elem.text_d {
        font-size: 5vw;
    }

    /* section-7 */
    #section-7 {
        display: flex;
        justify-content: center;
    }

    #section-7 .con-container {
        position: absolute;
        /* height: 224vh; */
        height: 190vh;
        width: 100vw;
        max-width: 1440px;
    }

    #section-7 .svg-container {
        position: absolute;
        width: 100vw;
        height: 123%;
        max-width: 1440px;
    }

    #section-7 .svg-container svg {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;

    }

    #section-7 .svg-container svg path {
        position: absolute;
        width: 90%;
    }

    #section-7 h2 {
        width: 80vw;
        margin: 15vh auto 0;
        font-size: 6vw;
    }

    #section-7 h2 span {
        width: 60%;
        font-size: 1.5vw;
        margin-top: 3vh;
    }

    #section-7 .img_dolpin_tool {
        top: -58px;
        right: 0%;
        width: 60vw;
        max-width: 800px;
        z-index: -1;
    }

    #section-7 .imgs-contaniner {
        height: 100%;
    }

    #section-7 .img1 {
        top: 6%;
        left: 20%;
        width: 28%;
    }

    #section-7 .img2 {
        top: 25%;
        left: 52%;
        width: 30%;
    }

    #section-7 .img3 {
        top: 45%;
        left: 15%;
        width: 34%;
    }

    #section-7 .text-container.text1 {
        bottom: -15%;
        right: 0;
    }

    #section-7 .text-container.text2 {
        bottom: -15%;
    }

    #section-7 .text-container.text3 {
        width: 35vw;
        max-width: 400px;
        top: 78%;
        left: 60%;
    }




}

@media all and (min-width : 1920px) {
    #section-7 h2 {
        width: 80vw;
        margin: 15vh auto 0;
        font-size: 5vw;
    }

    #section-7 .img1 {
        top: 8%;
        left: 19%;
        width: 30%;
        max-width: 388px;
    }

    #section-7 .img2 {
        top: 25%;
        left: 53%;
        width: 33%;
        max-width: 427px;
    }

    #section-7 .img3 {
        top: 44%;
        left: 11%;
        width: 38%;
        max-width: 495px;
    }

    #section-7 .text-container.text1 {
        bottom: -18%;
        right: 0;
    }

    #section-7 .text-container.text2 {
        bottom: -18%;
    }

    #section-7 .text-container.text3 {
        top: 80%;
        left: 57%;
    }

}