@charset "utf-8";

html {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
}
body {
	overflow-x: hidden;
	color: rgb(29, 29, 31);
	letter-spacing: -0.05em;
	background: #F3F0EB;
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;    
	background: #F3F0EB;
    z-index: 100;
}
#top-nav{
    height: 50px;
}
#top-nav ul{
    display: flex;
    justify-content: space-around;
    width: 85vw;
}
#bottom-nav{
    top: 50px;
}
#bottom-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
    height: 70px;
}
#bottom-nav .menu-button{
    width:25px;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    cursor: pointer;
}
#bottom-nav .menu-button span{
    display: block;
    width: 100%;
    height:1px;
    background-color: black;
}
#bottom-nav .logo a{
    display: block;
    width: 100%;
    height: 100%;
}
#bottom-nav .logo img{
    width: 35vw;
}
#bottom-nav .menu-icon{
    display: flex;
}
#bottom-nav .menu-icon a{
    display: block;
    width: 25px;
    height: 25px;
}
#bottom-nav .menu-icon a:first-child{
    margin-right: 10px;
}
#bottom-nav .menu-icon a img{
    width: 100%;
}

/*----------sections---------------------*/

.scroll-section{
    width: 100vw;
    padding-top: 50vh;
    overflow: hidden;
}
.sticky-elem{
    display: none;
    position: fixed;
    width: 100%;
    opacity: 0;
}
#show-section-0 #section-0 .sticky-elem,
#show-section-0 #section-0 .sticky-canvas,
#show-section-1 #section-1 .sticky-elem,
#show-section-2 #section-2 .sticky-elem,
#show-section-3 #section-3 .sticky-elem{
    display: block;
}
.scroll-effect-end .sticky-elem {
	/* 스크롤 효과가 모두 끝나고, 아래 일반 콘텐츠 영역에서는 sticky-elem들을 모두 안보이도록 */
	display: none !important;
}
.main-text{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 12vw;
    text-align: center;
    color: aliceblue;
}
/*----------section-0*/
 #section-0 h1{
    position: relative;
    text-shadow: 1px 1px black;
    z-index: 5;
    font-size: 14vw;
} 

#section-0 .sticky-canvas{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
}
.sticky-canvas canvas{
    position: absolute;
    top: 50%;
    left: 50%;
}
#section-0 .main-text{
    padding: 0 2vw;
}
#section-0 .a{
    font-size: 14vw;
    top: 53vh;
    text-align: right;
}
#section-0 .a p{
    width: 50vw;
}
#section-0 .b{
    top: 60vh;
}
#section-0 .c{
    top: 60vh;
}
#section-0 .d{
    padding: 0 5vw;
    font-size: 8vw;
    top: 15vh;
}

.title-text{
    text-align: center;
    font-size: 6vw;
    color: black;
}
/* ------------- #section-1 */
#section-1{
    height: 100vh;
    padding-top: 30vh;
}
#section-1 .title-text{
    position: relative;
    margin-top: 40vh;
}
#section-1 .sticky-elem.a{
    top: 30vh;
}
#section-1 .sticky-elem.b{
    top:37vh;
}
#section-1 .sticky-elem.c{
    top:48vh;
}
#section-1 .button{
    width: 50vw;
    left: 50%;
    border: 1px solid black;
    padding: 1vh 5vw;
    font-size: 3vw;
    margin-top: 3vh;
    transition: hover 0.3s;
}
#section-1 .button:hover{
    color: white;
    background-color: black;
}

/* ------------- #section-2 */
#section-2{
    position: relative;
    text-align: center;
    z-index: 1;
    /* padding-top: 20vh; */
}
#section-2.fixed{
    position: fixed;
}
#section-2 .title-text .sub-title{
    display: inline-block;
    font-size: 2vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    margin-bottom: 10px;
}
#section-2 .main-img-container{
    position: relative;
}
#section-2 .main-img{
    display: inline-block;
    width: 35vw;
    margin-top: 5vh;
}
#section-2 .lavender-left{
    position: absolute;
    width: 35vw;
    height: 35vw;
    bottom: 1vh;
    left: 11vw;
}

#section-2 .lavender-left img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#section-2 .lavender-left .circle{
    width: 28vw;
    height: 28vw;
    top: 3vh;
    left: 3vw;
    animation: circleAnimation 20s infinite linear;
}
#section-2 .sweet-right{
    position: absolute;
    width: 40vw;
    height: 40vw;
    top: 6vh;
    right: 11vw;
    z-index: -1;
}
#section-2 .sweet-right img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#section-2 .sweet-right .circle{
    width: 28vw;
    height: 28vw;
    top: 2vh;
    left: 5vw;
    animation: circleAnimation 20s infinite linear reverse;
}
@keyframes circleAnimation {
    100%{
        transform: rotate(360deg);
    }
    
}
#section-2 .sub-text p{
    width: 25vw;
    font-size: 0.5vw;
}
#section-2 .sub-text span.horizon{
    display: block;
    width: 15vw;
    height: 1px;
    background-color: black;
}
#section-2 .sub-text span.vertical{
    display: block;
    width: 12vw;
    height: 1px;
    background-color: black;
}
#section-2 .left-text{
    position: absolute;
    top: 20vh;
    left: 5vw;
}
#section-2 .left-text p{
    margin-top: 1vw;
    text-align: right;
}
#section-2 .left-text span.horizon{
    position: absolute;
    top: -5vh;
    right: -10vw;
}
#section-2 .left-text span.vertical{
    position: absolute;
    transform: rotate(-45deg) translate(-50%,0);
    right: 0;
    left: 14vw;
    top: -5vh;
}
#section-2 .right-text{
    position: absolute;
    bottom: 2vh;
    right: 5vw;
}
#section-2 .right-text p{
    margin-top: 1vw;
    text-align: left;
}
#section-2 .right-text span.horizon{
    position: absolute;
    top: -3vh;
    left: -8vw;
}
#section-2 .right-text span.vertical{
    position: absolute;
    width: 8vw;
    transform: rotate(-135deg) translate(-50%,0);
    right: 14.3vw;
    top: -3vh;

}
#section-2 .concept-text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    margin: 2vh 0 0 0;
}
#section-2 .concept-text-container span{
    display: block;
    width: 1px;
    height: 20%;
    background-color: black;
}
#section-2 .concept-text-container p{
    padding: 0 5vw;
}

#section-2 .bottom-content-text{
    padding: 0 8vw;
    font-size: 2vw;
}
