@charset "utf-8";

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    min-width: 100vw;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    color: rgb(29, 29, 31);
    letter-spacing: -0.05em;
    background: #F3F0EB;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F3F0EB;
    z-index: 100;
}

#top-nav {
    height: 50px;
}

#top-nav ul {
    display: flex;
    justify-content: space-around;
    width: 85vw;
}

#bottom-nav {
    top: 50px;
}

#bottom-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
    height: 70px;
}

#bottom-nav .menu-button {
    width: 25px;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    cursor: pointer;
}

#bottom-nav .menu-button span {
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
}

#bottom-nav .logo a {
    display: block;
    width: 100%;
    height: 100%;
}

#bottom-nav .logo img {
    width: 35vw;
}

#bottom-nav .menu-icon {
    display: flex;
}

#bottom-nav .menu-icon a {
    display: block;
    width: 25px;
    height: 25px;
}

#bottom-nav .menu-icon a:first-child {
    margin-right: 10px;
}

#bottom-nav .menu-icon a img {
    width: 100%;
}

/*----------sections---------------------*/

.scroll-section {
    width: 100vw;
    padding-top: 50vh;
    overflow: hidden;
}

.sticky-elem {
    display: none;
    position: fixed;
    width: 100%;
    opacity: 0;
}

.sticky-canvas {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

.background-canvas {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.back-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
}


#show-section-0 #section-0 .sticky-elem,
#show-section-0 #section-0 .sticky-canvas,
#show-section-1 #section-1 .sticky-elem,
#show-section-2 #section-2 .sticky-elem,
#show-section-3 #section-3 .sticky-canvas,
#show-section-3 #section-3 .sticky-elem,
#show-section-6 #section-6 .sticky-canvas,
#show-section-6 #section-6 .sticky-elem {
    display: block;
}

.scroll-effect-end .sticky-elem {
    /* 스크롤 효과가 모두 끝나고, 아래 일반 콘텐츠 영역에서는 sticky-elem들을 모두 안보이도록 */
    display: none !important;
}



/*----------section-0*/
#section-0 h1 {
    position: relative;
    text-shadow: 1px 1px black;
    z-index: 5;
    font-size: 14vw;
}

#section-0 .sticky-canvas {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

.sticky-canvas canvas {
    position: absolute;
    top: 50%;
    left: 50%;
}

.main-text {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 12vw;
    text-align: center;
    color: aliceblue;
}

#section-0 .main-text {
    padding: 0 2vw;
}

#section-0 .a {
    font-size: 14vw;
    top: 53vh;
    text-align: right;
}

#section-0 .a p {
    width: 50vw;
}

#section-0 .b {
    top: 60vh;
}

#section-0 .c {
    top: 60vh;
}

#section-0 .d {
    padding: 0 5vw;
    font-size: 8vw;
    top: 15vh;
}



/* ------------- #section-1 */

#section-1 {
    height: 130vh;
    padding-top: 30vh;
}

.title-text {
    text-align: center;
    font-size: 6vw;
    color: black;
}

#section-1 .title-text {
    position: relative;
    margin-top: 40vh;
}

#section-1 .sticky-elem.a {
    top: 30vh;
}

#section-1 .sticky-elem.b {
    top: 37vh;
}

#section-1 .sticky-elem.c {
    top: 48vh;
}

#section-1 .button {
    width: 50vw;
    left: 50%;
    border: 1px solid black;
    padding: 1vh 5vw;
    font-size: 3vw;
    margin-top: 3vh;
    transition: hover 0.3s;
}

#section-1 .button:hover {
    color: white;
    background-color: black;
}

/* ------------- #section-2 */
#section-2 {
    position: relative;
    text-align: center;
    z-index: 1;
}

#section-2 .container1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#section-2 .container1.fixed {
    position: fixed;
}

#section-2 .title-text .sub-title {
    display: inline-block;
    font-size: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    margin-bottom: 10px;
}

#section-2 .main-img-container {
    position: relative;
}

#section-2 .main-img {
    display: inline-block;
    width: 35vw;
    margin-top: 5vh;
}

#section-2 .lavender-left {
    position: absolute;
    width: 35vw;
    height: 35vw;
    bottom: 1vh;
    left: 5vw;
}

#section-2 .lavender-left img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#section-2 .lavender-left .circle {
    position: absolute;
    width: 28vw;
    height: 28vw;
    top: 3vh;
    left: 3vw;
    animation: circleAnimation 20s infinite linear;
}

#section-2 .sweet-right {
    position: absolute;
    width: 40vw;
    height: 40vw;
    top: 6vh;
    right: 5vw;
    z-index: -1;
}

#section-2 .sweet-right img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#section-2 .sweet-right .circle {
    position: absolute;
    width: 28vw;
    height: 28vw;
    top: 2vh;
    left: 5vw;
    animation: circleAnimation 20s infinite linear reverse;
}

@keyframes circleAnimation {
    100% {
        transform: rotate(360deg);
    }

}

#section-2 .sub-text p {
    position: relative;
    width: 25vw;
    font-size: 0.5vw;
}

#section-2 .sub-text span.horizon {
    position: absolute;
    display: block;
    width: 15vw;
    height: 1px;
    background-color: black;
}

#section-2 .sub-text span.vertical {
    position: absolute;
    display: block;
    width: 12vw;
    height: 1px;
    background-color: black;
}

#section-2 .left-text {
    display: none;
    position: absolute;
    top: 20vh;
    left: 1.5vw;
}

#section-2 .left-text p {
    margin-top: 1vw;
    text-align: right;
}

#section-2 .left-text span.horizon {
    position: absolute;
    top: -5vh;
    right: -10vw;
}

#section-2 .left-text span.vertical {
    position: absolute;
    transform: rotate(-45deg) translate(-50%, 0);
    right: 0;
    left: 14vw;
    top: -5vh;
}

#section-2 .right-text {
    display: none;
    position: absolute;
    bottom: 2vh;
    right: 4vw;
}

#section-2 .right-text p {
    margin-top: 1vw;
    text-align: left;
}

#section-2 .right-text span.horizon {
    position: absolute;
    top: -3vh;
    left: -8vw;
}

#section-2 .right-text span.vertical {
    position: absolute;
    width: 8vw;
    transform: rotate(-135deg) translate(-50%, 0);
    right: 14.3vw;
    top: -3vh;

}

#section-2 .concept-text-container {
    display: none;
    align-items: center;
    justify-content: center;
    height: 10vh;
    margin: 2vh 0 0 0;
}

#section-2 .concept-text-container span {
    display: block;
    width: 1px;
    height: 20%;
    background-color: black;
}

#section-2 .concept-text-container p {
    padding: 0 5vw;
}

#section-2 .bottom-content-text {
    display: none;
    padding: 0 8vw;
    font-size: 2vw;
    margin-bottom: 10vh;
}

/* ------------- #section-3 */
#section-3 {
    position: relative;
    width: 100vw;
    padding-top: 0;
    background-image: url(./../img/2.jpg);
}

#section-3 .sticky-canvas {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#section-3 .text-container {
    position: absolute;
    /* display: none; */
    top: 100%;
    width: 100%;
    height: 100vh;
}

#section-3 .text-container.fixed {
    position: fixed;
}

#section-3 h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 7vw;
    z-index: 10;

}

#section-3 h2 span {
    font-size: 5vw;
}

#section-3 h2.fixed {
    position: fixed;
}

/* ------------- #section-4 */
#section-4 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 0;
    overflow: visible;
}

#section-4 .products-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vh;
}

#section-4 .title-text {
    position: relative;
    width: 100%;
}

#section-4 .title-text span {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    max-width: 70vw;
}


#section-4 .products-container .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 7vh 0 8vh;
    max-width: 380px;

}

#section-4 .products-container .products div {
    width: 35%;
    padding: 0 3vw;
    margin-bottom: 5vh;
    text-align: center;
}

#section-4 .products-container .products div p {
    font-size: 3vw;
    margin-top: 1vh;
}

#section-4 .products-container .products div p span {
    font-size: 1vw;
    margin-bottom: 10px;
}

#section-4 .products-container .products div img {
    width: 80%;
}

.buy-button {
    display: inline-block;
    width: 80%;
    font-size: 8px;
    border: 1px solid black;
    padding: 1vh 3vw;
    margin-top: 2vh;
    transition: 0.5s;
}

.buy-button:hover {
    background-color: #B48D62;
    color: aliceblue;
    border: 1px solid white;
}

/* #section -5  */
#section-5 {
    padding-top: 0;
    height: 100vh;
}

#section-5 .imgs-container {
    width: 100vw;
    height: 100%;
}

#section-5 .imgs-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

#section-5 .img-1 {
    background-image: url(../img/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 35%;
}

#section-5 .img-2 {
    background-image: url(../img/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 35%;
}

#section-5 .img-3 {
    background-image: url(../img/6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 65%;
}

/* ------------- #section-6 */
#section-6 {
    position: relative;
    padding-top: 0;
    background-image: url(./../video/2/001.jpg);
}

#section-6 .sticky-canvas {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#section-6 .sticky-elem.text_a {
    top: 45vh;
}

#section-6 .sticky-elem.text_b {
    top: 45vh;
}

#section-6 .sticky-elem.text_c {
    top: 45vh;
}

#section-6 .sticky-elem.text_d {
    top: 45vh;
    font-size: 10vw;
}

/* ------------- #section-7 */
#section-7 {
    position: relative;
    padding-top: 0vh;
    width: 100vw;
}

#section-7 .opacity-elem {
    opacity: 0;
}

#section-7 .con-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
}

#section-7 .con-container.fixed {
    position: fixed;
    top: 0;
}

#section-7 .svg-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100%;
    z-index: -1;
}

#section-7 .svg-container svg {
    position: absolute;
    height: 120%;
    width: 130%;
}

#section-7 .svg-container svg path {
    stroke-dasharray: 8098;
    stroke-dashoffset: 8098;
}


#section-7 h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 8vw;
    margin-top: 15vh;
    z-index: 1;
}

#section-7 h2 span {
    position: relative;
    display: block;
    width: 40%;
    margin-top: 15px;
    font-size: 2vw;
}

#section-7 .img_dolpin_tool {
    position: absolute;
    top: 0;
    right: -15%;
    width: 80%;
    z-index: -1;
}

#section-7 .imgs-contaniner {
    position: relative;
    width: 90%;
    height: 80vh;
    margin: 0 auto;
}

#section-7 .img_con img,
#section-7 .img_dolpin_tool img {
    width: 100%;
}

#section-7 .img_con {
    position: absolute;
}

#section-7 .img1 {
    top: 10%;
    left: 19%;
    width: 33%;
    min-width: 95px;
    max-width: 135px;
}

#section-7 .img2 {
    top: 24%;
    left: 54%;
    width: 35%;
    min-width: 100px;
    max-width: 160px;
    max-width: 142px;
}

#section-7 .img3 {
    top: 45%;
    left: 9.5%;
    width: 43%;
    min-width: 123px;
    max-width: 172px;
}

#section-7 .text-container {
    position: absolute;
    font-size: 1vw;

}

#section-7 .text-container.text1 {
    top: 36%;
    left: 6%;
    width: 45%;
    text-align: right;
}

#section-7 .text-container.text2 {
    top: 56%;
    left: 56%;
    text-align: left;
}

#section-7 .text-container.text3 {
    top: 80%;
    left: 61%;
    text-align: left;
}

/* ----section -8 */
#section-8 {
    background-color: #B48D62;
}